html {
    background: url("./jessica-lewis-fJXv46LT7Xk-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    


}

.todo-container {
    /* box-sizing: border-box; */
    /* border: 2px white; */
    background-color: #9CA3AF;
    opacity: 0.9;
    padding: 1rem;
    max-width: 40%;
    margin: 90px auto;
    text-align: center;
    border-radius: 2%;
}

.input-todo {
     max-width: 50%; 
    padding: 0.5rem;
    border-radius: 20px;
    border-color: grey;
    background-color: #374151;
    color: whitesmoke;
    font-size: large;

}

h1 {
    font-family: cursive;
}

.todo-list {
    padding: 1rem;
    font-family: cursive;
    font-size: larger;

}
.add-btn{
    padding: 0.4rem;
    margin-left: 2%;
    border-radius: 10%;
    cursor: pointer;
    font-family:sans-serif;
    font-size: large;
}

.add-item{
    margin-left: 8%;

}

.add-btn:hover {
    background-color: #374151;
    color: whitesmoke;
  }




